@media screen and (min-width: 730px) {

    #dragonright {
        width: 300px;
    }

    #dragonleft {
        width: 300px;
    }

    #banner {
        display: block;
        margin: auto;
        max-width: 100%;
        margin-top: -8px;
    }

    .page-wrapper {
        display: block;
        margin: auto;
        min-width: 850px;
    }

    section h1 {
        margin-top: -260px;
        margin-left: 25px;
        text-align: left;
    }

    section h2 {
        text-align: left;
        margin-left: 60px;
    }

    header::after {
        margin-left: 60px;
        font-size: 16px;
    }

    p.link {
        margin-left: 300px;
        margin-top: 10px;
    }

    p.link:nth-child(2) {
        margin-bottom: 0;
    }

    #block1 {
        width: 360px;
        margin-top: 10px;
        margin-left: 5px;
    }

    .preamble {
        margin-top: -580px;
        margin-bottom: -250px;
        margin-left: 82px;
    }

    #cover1 {
        margin-top: -615px;
        margin-left: 25px;
    }

    #block2 {
        margin-left: 410px;
        width: 360px;
        margin-top: -460px;
    }

    .explanation {
        margin-top: -685px;
        margin-bottom: -250px;
        margin-left: 450px;
    }

    .explanation p:nth-child(3) {
        width: 160px;
    }

    #cover2 {
        margin-top: -480px;
        margin-left: -23px;
    }

    #block3 {
        margin-top: -302px;
        margin-left: 35px;
    }

    div.participation {
        margin-top: -500px;
        margin-left: 75px;
    }

    #cover3 {
        margin-left: 57px;
        margin-top: -483px;
    }

    #block4 {
        position: absolute;
        margin-top: -380px;
        margin-left: 399px;
    }

    div.benefits {
        margin-top: -335px;
        margin-left: 470px;
    }

    #cover4 {
        margin-top: -366px;
        margin-left: 397px;
    }

    #block5 {
        margin-top: 10px;
        margin-left: 380px;
    }

    div.requirements {
        margin-top: -935px;
        margin-left: 450px;
        text-align: justify;
        line-height: 1em;
    }

    #cover5 {
        margin-top: -918px;
        margin-left: 440px;
    }

    aside.sidebar {
        max-width: 260px;
        margin-top: -925px;
        margin-left: 30px;
    }

    p.zelda:nth-child(1) {
        margin-top: 20px;
    }
}

@media screen and (min-width: 950px) {
    #dragonright {
        width: 380px;
    }

    #dragonleft {
        width: 380px;
    }
}
