body {
    background-color: darkseagreen;
    background-image: linear-gradient(purple, rgb(123, 212, 247), white, lemonchiffon, darkseagreen, darkseagreen, darkseagreen, lemonchiffon, white, rgb(123, 212, 247), purple);
    max-width: 850px;
    margin: auto;
}

#banner {
    max-width: 100%;
}

.preamble {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    width: 235px;
    text-align: justify;
    position: absolute;
    margin-top: -565px;
    margin-bottom: -250px;
    margin-left: 78px;
    line-height: 1em;
}

p {
    margin-bottom: -10px;
}

h3 {
    margin-bottom: -10px;
    text-align: center;
}

.preamble p:nth-child(4) {
    width: 160px;
    text-align: center;
    margin-left: 40px;
}

#under {
    width: 360px;
    margin-left: 0px;
}

#cover {
    width: 352px;
    position: absolute;
    margin-top: 18px;
    margin-left:-340px;
}

#cover:hover,
#cover2:hover,
#cover3:hover,
#cover4:hover,
#cover5:hover {
    opacity: 0;
    transition: 1.5s;
}

#block2 {
    margin-left: 0px;
    width: 360px;
    margin-top: -30px;
}

.explanation {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 235px;
    position: absolute;
    margin-top: -673px;
    margin-bottom: -250px;
    margin-left: 45px;
    line-height: 1em;
}

.explanation p:nth-child(3) {
    width: 160px;
}

#cover2 {
    width: 297px;
    margin-top: -492px;
    margin-left: -26px;
}

#block3 {
    margin-top: -162px;
}

div.participation {
    color: rgb(1, 56, 1);
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 280px;
    font-size: 15px;
    margin-top: -490px;
    margin-left: 42px;
}

#cover3 {
    position: absolute;
    margin-left: -335px;
    margin-top: -122px;
    width: 310px;
}

#block4 {
    margin-top: -20px;
}

div.benefits {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 220px;
    font-size: 15px;
    margin-top: -280px;
    margin-left: 70px;
    text-align: center;
}

div.benefits h3 {
    line-height: .5em;
}

#cover4 {
    position: absolute;
    margin-top: -329px;
}

#block5 {
    margin-top: -25px;
    margin-bottom: -110px;
}

div.requirements {
    color: rgb(238, 235, 235);
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 255px;
    font-size: 14.5px;
    margin-top: -900px;
    margin-left: 70px;
    text-align: justify;
}

.requirements h3 {
    line-height: .5em;
}

.requirements p:nth-child(5),
.requirements p:nth-child(6) {
    width: 175px;
    margin-left: 90px;
    text-align: left;
}

#cover5 {
    width: 275px;
    position: absolute;
    margin-top: -901px;
    margin-left: 60px;
}

button {
    background-color: rgb(188, 157, 245);
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    /*The following images were obtained free from Klipartz,
then it was changed so as not to mimic Zelda #dude and #tilt-dude, #zelda, #wave */