
/*
.preamble {
  display: block;
  font-family: "Barlow Condensed", "Arial Narrow", sans-serif;
  font-size: 17.5px;
  color: white;
  width: 360px;
  height: 560px;
  text-align: justify;
  line-height: 1em;
  /*background-image: url(./svg/block1.svg); /
  background-repeat: no-repeat;
  margin: -15px auto 200px 9px;
  position: relative;
  z-index: 2;
}

.preamble::before{
  content: url(./svg/block1.svg);
  z-index: 2;
}

.preamble p {
  padding: 0px 40px;
  margin: 20px 0 0 45px;
  position: relative;
  z-index: 3;
}

.preamble h3 {
  font-family: "Merienda", cursive;
  font-size: 25px;
  line-height: 1em;
  padding: 80px 50px 0 90px;
  z-index: 3;
}

.preamble p:nth-child(4) {
  width: 160px;
  text-align: justify;
  margin-left: 90px;
}

.preamble p:last-of-type::after{
  content: url(./svg/flat-drawbridge.svg);
  
  background-image: url(./svg/flat-drawbridge.svg);
  background-color: black;
  min-width:50px;
  min-height: 200px;
  z-index: 1;
  position: absolute;
  top: -30px;
  left: 80px;
  transition: transform 3s ease-in-out;
}

.preamble p:last-of-type:hover::after{
  
  transform: translate(0px, 230px);
  

}
*/


.preamble {
	display: block;
	font-family: $Font-p;
	font-size: 17.5px;
	color: $FontLight;
	width: $MobileWidth;
	height: 560px;
	text-align: justify;
	line-height: 1em;
	background-image: url(./svg/block1.svg);
	background-repeat: no-repeat;
	margin: -15px auto 200px 9px;
}

.preamble p {
	padding: 0px 40px;
	margin: 20px 0 0 45px;
}

.preamble h3 {
	font-family: $Font-H;
	font-size: 25px;
	line-height: 1em;
	padding: 80px 50px 0 90px;
	;
}

.preamble p:nth-child(4) {
	width: 160px;
	text-align: justify;
	margin-left: 90px;
}
