.summary::after {
	content: "Click on each block to reveal a hidden message!";
	font-family: $Font-H;
}

.summary {
	padding: 0 75px 0 105px;
	margin: auto 14px 0 10px;
	text-align: right;
	font-family: $Font-H;
	line-height: 1.1em;
	color: rgb(85, 84, 84);
	margin-top: -60px;
}

.summary p a {
	text-decoration: none;
	font-family: $Font-p;
	font-size: 20px;
	color: $BGcolor3A;
}