/*--------------------mobile 360----------------------*/
.benefits p:nth-child(2):after {
    content: url(./svg/fish-mobile.svg);
    z-index: 2;
    margin: 5310px auto auto -100px;
    animation-name: swim1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    position: absolute;
    animation-timing-function: linear;
}

@keyframes swim1 {
    0% {
        left: 0px;
        top: 0px;
    }

    10% {
        left: 0px;
        top: -300px;
    }

    49% {
        left: -130px;
        top: 0px;
        transform: rotateY(0deg);
    }

    50% {
        left: -500px;
        top: 0px;
        transform: rotateY(180deg);
    }

    85% {
        left: -500px;
        top: -300px;

    }

    99% {
        left: -360px;
        top: 0px;
        transform: rotateY(180deg);
    }

    100% {
        left: 0px;
        top: 0px;
        transform: rotateY(0deg);
    }

}

/*--------------------500----------------------*/

@media screen and (min-width: $SmallRespWidth) {

    /* fish */
    .benefits p:nth-child(2):after {
        margin: 5210px auto auto 0px;
    }

}

/*--------------------767----------------------*/

@media screen and (min-width: 767px) {

    /* fish */
    .benefits p:nth-child(2):after {
        margin: 5170px auto auto 50px;

    }

}

/*--------------------850----------------------*/

@media screen and (min-width: 850px) {

    /* fish */
    .benefits p:nth-child(2):after {
        margin-left: 100px;
    }

}

/*--------------------950----------------------*/

@media screen and (min-width: 950px) {

    /* fish */
    .benefits p:nth-child(2):after {
        margin-left: 150px;
    }

    /*--------------------1050----------------------*/

    @media screen and (min-width: 1050px) {

        /* fish */
        .benefits p:nth-child(2):after {
            margin-left: 200px;
        }
    }

    /*--------------------1150----------------------*/

    @media screen and (min-width: 1150px) {

        /* fish */
        .benefits p:nth-child(2):after {
            margin-left: 230px;
        }
    }

    /*--------------------1200----------------------*/

    @media screen and (min-width: $LapTopWidth) {

        /* fish */
        .benefits p:nth-child(2):after {
            content: url(./svg/fish.svg);
            z-index: 2;
            margin: 2620px auto auto 250px;
            animation-name: swim;
            animation-duration: 7s;
            animation-iteration-count: infinite;
            position: absolute;
            animation-timing-function: linear;
        }
        @keyframes swim {
            0% {
                left: 0px;
                top: 0px;
            }

            10% {
                left: -100px;
                top: -80px;
            }

            49% {
                left: -360px;
                top: 0px;
                transform: rotateY(0deg);
            }

            50% {
                left: -500px;
                top: 0px;
                transform: rotateY(180deg);
            }

            85% {
                left: -400px;
                top: -80px;

            }

            99% {
                left: -150px;
                top: 0px;
                transform: rotateY(180deg);
            }

            100% {
                left: 0px;
                top: 0px;
                transform: rotateY(0deg);
            }
        }
        

    }

    /*--------------------1300----------------------*/

    @media screen and (min-width: 1300px) {

        /* fish */
        .benefits p:nth-child(2):after {
            padding: 0 50px;
        }
    }

    /*--------------------1400----------------------*/

    @media screen and (min-width: 1400px) {

        /* fish */
        .benefits p:nth-child(2):after {
            padding: 0 100px;
        }
    }

    /*--------------------1500----------------------*/

    @media screen and (min-width: 1500px) {

        /* fish */
        .benefits p:nth-child(2):after {
            padding: 0 150px;
        }
    }

    /*--------------------1600----------------------*/

    @media screen and (min-width: 1600px) {

        /* fish */
        .benefits p:nth-child(2):after {
            padding: 0 200px;
        }
    }

    /*--------------------1700----------------------*/

    @media screen and (min-width: 1700px) {

        /* fish */
        .benefits p:nth-child(2):after {
            padding: 0 250px;
        }
    }

    /*--------------------1800----------------------*/

    @media screen and (min-width: 1800px) {

        /* fish */
        .benefits p:nth-child(2):after {
            padding: 0 300px;
        }
    }

    /*--------------------1900----------------------*/

    @media screen and (min-width: 1900px) {

        /* fish */
        .benefits p:nth-child(2):after {
            padding: 0 350px;
        }
    }

    /*--------------------2000----------------------*/

    @media screen and (min-width: 2000px) {

        /* fish */
        .benefits p:nth-child(2):after {
            padding: 0 400px;
        }
    }

}