@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

//Variables

//Colors
$BGcolor1: rgb(210, 252, 210);
$BGcolor2: darkturquoise;
$BGcolor3: purple;
$BGcolor3A:rgb(173, 1, 173);
$BGcolor4: lightgrey;
$BGcolor5:grey;
$FontLight: white;

//Fonts
$Font-H: 'Merienda', cursive;
$Font-p: 'Barlow Condensed', 'Arial Narrow', sans-serif;

//Widths
$MobileWidth: 360px;
$SmallRespWidth: 500px;
$KindleWidth: 767px;
$LapTopWidth: 1200px;

body {
	background-color: $BGcolor1;
	display: grid;
	margin: -80px auto auto -10px;

}

header {
	background-image: linear-gradient($BGcolor1, $BGcolor2, $BGcolor1);
	height: 200px;
	background-position: bottom;
	background-repeat: repeat;
	background-size: cover;
	position: relative;
	z-index: -1;
}

header::after {
	content: url(./images/linkAttack100.png);
	margin-left: 20px;
	position: absolute;
	margin-top: -20px;
	z-index: 2;
}

h1,
h2 {
	width: $MobileWidth;
	display: block;
	margin: 0;
	text-align: right;
	line-height: .1em;
	color: $BGcolor3A;
}

h1 {
	font-size: 37px;
	margin-top: 120px;
	margin-bottom: 35px;
	font-family: $Font-H;
}

h2 {
	font-size: 20px;
	font-family: $Font-p;
}




h3 {
	font-family: $Font-H;
	margin-bottom: -10px;
	text-align: center;
}

@import 'summary.scss';

@import 'preamble.scss';

@import 'explanation.scss';

@import 'participation.scss';

@import 'benefits.scss';

@import 'requirements.scss';

@import 'sidebar.scss';

.extra1 {
	display: none;
	content: url(./svg/cover1.svg);
	margin-top: -2795px;
	margin-left: 84px;
}

.extra2 {
	content: url(./svg/cover2.svg);
	margin: -2141px auto auto 36px;
}

.extra3 {
	content: url(./svg/cover3.svg);
	margin-top: -1300px;
	margin-left: 50px;
}

.extra4 {
	content: url(./images/cover4fish.png);
	margin: -575px auto auto -8px;
}

.extra5 {
	content: url(./svg/cover5.svg);
	position: absolute;
	margin: 3366px auto auto 80px;
}


.extra1:hover,
.extra2:hover,
.extra3:hover,
.extra4:hover,
.extra5:hover {
	opacity: 0;
	transition: 1.5s;
}


footer {
	display: none;
}


/*--------------------500----------------------*/

@media screen and (min-width: $SmallRespWidth) {

	body {
		max-width: $SmallRespWidth;
		margin: auto;

	}

	header {
		height: 150px;
		margin-top: -50px;
	}

	/* Link: */
	header::after {
		position: fixed;
		margin-top: -60px;
		margin-left: 15px;
	}

	h1,
	h2 {
		width: 470px;
	}

	.summary {
		padding: 0 70px 0 120px;
		line-height: 1.5em;
	}

	/* block1 */
	div.preamble {
		margin: -15px auto 200px 119px;
	}

	/* cover1 */
	.extra1 {
		margin: -2792px auto auto 194px;
	}

	/* block2 */
	.explanation {
		margin: 0 auto 200px 122px;
	}

	/* cover2 */
	.extra2 {
		margin: -2141px auto auto 146px;
	}

	/* block3 */
	.participation {
		margin: 0 auto 200px 120px;
	}

	/* cover3 */
	.extra3 {
		margin-left: 160px;
	}

	/* block4 */
	.benefits {
		margin: auto auto 200px 120px;
	}

	/* cover4 */
	.extra4 {
		margin: -575px auto auto 102px;

	}

	/* block5 */
	.requirements {
		margin: 0 auto 200px 108px;
	}

	/* cover5 */
	.extra5 {
		margin: 3280px auto auto 180px;
	}

	/* block6 */
	aside.sidebar {
		margin: 1150px auto 100px 80px;

	}

	.requirements::after {
		width: 375px;
	}

}



/*------------------800------------------*/

@media screen and (min-width: $KindleWidth) {

	body {
		max-width: $KindleWidth;

	}

	header {
		height: 180px;
	}

	/* Link: */
	header::after {
		content: url(./images/linkAttack150.png);
		margin-left: 50px;
		margin-top: -90px;
	}

	h1{
		font-size: 45px;
		line-height: .5;
	}

	h2{
		font-size: 22px;
	}

	h1,
	h2 {
		width: 755px;
	}

	.summary {
		padding: 0 30px 0 360px;
		line-height: 1.5em;
	}

	/* block1 */
	div.preamble {
		margin: -15px auto 200px 239px;
	}

	/* cover1 */
	.extra1 {
		margin: -2792px auto auto 314px;
	}

	/* block2 */
	.explanation {
		margin: 0 auto 200px 242px;
	}

	/* cover2 */
	.extra2 {
		margin: -2141px auto auto 266px;
	}

	/* block3 */
	.participation {
		margin: 0 auto 200px 240px;
	}

	/* cover3 */
	.extra3 {
		margin-left: 280px;
	}

	/* block4 */
	.benefits {
		margin: auto auto 200px 240px;
	}

	/* cover4 */
	.extra4 {
		margin: -575px auto auto 222px;

	}

	/* block5 */
	.requirements {
		margin: 0 auto 200px 228px;
	}

	/* cover5 */
	.extra5 {
		margin: 3263px auto auto 300px;
	}

	/* block6 */
	aside.sidebar {
		margin: 1150px auto 100px 200px;

	}

	aside.sidebar::after {
		content: url(./images/wave150.png);
		margin: 100px auto 0px 130px;
	}

	.requirements::after {
		width: 580px;
		margin: 1230px auto auto -40px;
		border-radius: 600px;
		font-size: 19px;
	}

}

/*------------------1200------------------*/

@media screen and (min-width: $LapTopWidth) {

	body {
		max-width: $LapTopWidth;
		margin: auto;
	}

	header {
		height: 180px;
	}

	h1 {
		font-size: 60px;
		margin-bottom: 65px;
	}
	
	h2 {
		font-size: 25px;
	}

	/* Link: */
	header::after {
		content: url(./images/linkAttack200.png);
		margin-left: 145px;
		margin-top: -90px;
	}

	h1,
	h2 {
		width: 1040px;
	}

	.summary {
		margin-top: -50px;
		padding: 0 145px 0 360px;
		line-height: 1.5em;
	}

	/* block1 */
	div.preamble {
		margin: 55px auto 200px 439px;
	}

	/* cover1 */
	.extra1 {
		margin: -2792px auto auto 514px;
	}

	/* block2 */
	.explanation {
		margin: 0 auto 200px 442px;
	}

	/* cover2 */
	.extra2 {
		margin: -2141px auto auto 466px;
	}

	/* block3 */
	.participation {
		margin: 0 auto 200px 440px;
	}

	/* cover3 */
	.extra3 {
		margin-left: 480px;
	}

	/* block4 */
	.benefits {
		margin: auto auto 200px 440px;
	}

	/* cover4 */
	.extra4 {
		margin: -573px auto auto 422px;

	}

	/* block5 */
	.requirements {
		margin: 0 auto 200px 428px;
	}

	/* cover5 */
	.extra5 {
		margin: 3293px auto auto 500px;
	}

	/* block6 */
	aside.sidebar {
		margin: 1150px auto 100px 400px;

	}

	aside.sidebar::after {
		content: url(./images/wave200.png);
		margin: 75px auto 0px 150px;
	}

	.requirements::after {
		width: 580px;
		margin: 1275px auto auto -100px;
		border-radius: 600px;
		font-size: 19px;
	}

}