.explanation h3 {
	font-family: $Font-H;
	font-size: 21px;
	line-height: 1em;
	margin-left: -45px;
	padding-top: 30px;
	padding-bottom: 10px;
}

.explanation {
	display: block;
	background-image: url(./svg/block2.svg);
	background-repeat: no-repeat;
	text-align: justify;
	font-family: $Font-p;
	font-size: 17px;
	width: $MobileWidth;
	height: 800px;
	line-height: 1.11em;
	margin: 0 auto -50px 10px;
}

.explanation p {
	width: 245px;
	display: block;
	padding: 0px 40px;
	margin-left: -7px;
}

.extra2 {
	content: url(./svg/cover2.svg);
	margin: -2149px auto auto 34px;
}


.explanation::after {
	content: url(./svg/flat-drawbridge.svg);
	display: block;
	margin-top: -340px;
	margin-left: 102px;
	position: absolute;
	z-index: -1;
}

.explanation:hover::after {
	transform: translate(0px, 350px);
	transition: transform 3s ease-in-out;
}

.explanation p:nth-child(3) {
	width: 160px;
}

/*--------------------500----------------------*/

@media screen and (min-width: $SmallRespWidth) {

	/* block2 */
	.explanation {
		margin: 0 auto -100px 125px;
	}

	/* cover2 */
	.extra2 {
		margin: -2098px auto auto 149px;
	}
}


/*--------------------767----------------------*/

@media screen and (min-width: $KindleWidth) {

	/* block2 */
	.explanation {
		margin: 0 auto -100px 207px;
	}

	/* cover2 */
	.extra2 {
		margin: -2098px auto auto 231px;
	}
}

/*--------------------1200----------------------*/

@media screen and (min-width: $LapTopWidth) {

	/* block2 */
	.explanation {
		margin: 0 auto -100px 150px;
		background-image: url(./svg/block2a.svg);
	}

	/* cover2 */
	.extra2 {
		margin: -1548px auto auto 174px;
	}

	/*bridge*/
	.explanation::after {
		content: url(./svg/side-drawbridge.svg);
		margin-top: -220px;
		margin-left: -20px;
		z-index: -1;
	}

	.explanation:hover::after {
		transform: translate(280px, 0px);
		transition: transform 3s ease-in-out;
	}
}