/*.preamble {
    display: grid;
      grid-template-columns: repeat(18, 20px);
      grid-template-rows: repeat(28, 20px);
    font-family: $Font-p;
    font-size: 17.5px;
    color: white;
      width: 100%;
    text-align: justify;
    line-height: 1em;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
      &::before{
          content: url(./svg/block1.svg);
          z-index: 2;
          grid-column: 1/-1;
          grid-row: 1/-1;
      }
      h3 {
          font-family: $Font-H;
          font-size: 25px;
          line-height: 1em;
          grid-column: 5/18;
          grid-row: 4/7;
          z-index: 3;
      }
      p {
          padding:0;
          margin:0;
          z-index: 3;
          opacity: 0;
          transition: opacity 5s;
          
          &:nth-of-type(1){
              grid-column: 5/17;
              grid-row: 9/14;
          }
          &:nth-of-type(2){
              grid-column: 5/17;
              grid-row: 13/18;
          }
          &:nth-of-type(3){
              grid-column: 8/15;
              grid-row: 18/28;
          }
          &:last-of-type{
              &::after{
                  content: url(./svg/flat-drawbridge2.svg);
                  background-color: black;
                  width:80px;
                  height: 10px;
                  z-index: 1;
                  position: absolute;
                  top: 305px;
                  left: 170px;
                  transition: transform 3s ease-in-out;
              }
              &:hover::after{
                  transform: translate(0px, 230px);
              }
          }
      }
      &::after{
          content: url(./svg/cover1.svg);
          grid-column: 5/18;
          grid-row: 5/28;
          z-index: 5;
          width: 100%;
          margin-left:-6px;
          margin-top:-6px;
          transition: z-index .5s ease-in-out;
      }
      &:hover{
          p{opacity: 100%;}
          &::after{
              z-index:1;}
      }
  }*/

div.preamble {
    display: block;
    font-family: $Font-p;
    font-size: 17.5px;
    color: $FontLight;
    width: $MobileWidth;
    height: 760px;
    text-align: justify;
    line-height: 1em;
    background-image: url(./svg/block1.svg);
    background-repeat: no-repeat;
    margin: -15px auto 0px 9px;
}

.preamble p {
    padding: 0px 40px;
    margin: 20px 0 0 45px;
}

.preamble h3 {
    font-family: $Font-H;
    font-size: 25px;
    line-height: 1em;
    padding: 80px 50px 0 90px;
    ;
}

.preamble p:nth-child(4) {
    width: 160px;
    text-align: justify;
    margin-left: 90px;
}

.extra1 {
    content: url(./svg/cover1.svg);
    margin-top: -2863px;
    margin-left: 84px;
}

.preamble::after {
    content: url(./svg/flat-drawbridge.svg);
    display: block;
    margin-top: -250px;
    margin-left: 130px;
    position: absolute;
    z-index: -1;
}

.preamble:hover::after {
    transform: translate(0px, 250px);
    transition: transform 3s ease-in-out;
}

/*--------------------500----------------------*/

@media screen and (min-width: $SmallRespWidth) {

    /* block1 */
    div.preamble {
        margin: -15px auto -50px 124px;
    }

    /* cover1 */
    .extra1 {
        margin: -2760px auto auto 198px;
    }
}

/*--------------------767----------------------*/

@media screen and (min-width: $KindleWidth) {

    /* block1 */
    div.preamble {
        margin: -15px auto -50px 200px;
    }

    /* cover1 */
    .extra1 {
        margin: -2760px auto auto 274px;
    }

}

/*--------------------1200----------------------*/

@media screen and (min-width: $LapTopWidth) {

    /* block1 */
    div.preamble {
        background-image: url(./svg/block1.svg);
        background-repeat: no-repeat;
        margin: -15px auto -50px 130px;
    }

    /* cover1 */
    .extra1 {
        margin: -2210px auto auto 204px;
    }

}