.cd-navigation {
  background-image: url(../assets/bricks2.png);
  padding:30px;
  color: $color-5;
  line-height: 1.3em;
  max-width: 300px;
  background-color: hsl(342, 100%, 25%, .7);
  background-position: center;
  background-size: contain;
  border-radius: 25px;
  margin-top: 24px;
  margin-left: 20px;
  
  div.cd-box{
    background: inherit;

    div:last-of-type{
      background-color: $color-5;
      padding: 5px;
    }
  }

  h3{
    font-family: $secondary-font;
    margin-bottom: -10px;
    text-align: center;
    font-size: 30px;
    color:$color-2;
    background-color: rgb(248,248,255,.5);
    padding:5px;
    border-radius: 5px;
  }
  
  nav{
    display: block;
    color:$color-5;
    line-height: 1.3em;

    ul {
      list-style-type: disc;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;

      li{
        display: list-item;
        font-family: sans-serif;
        
        a{
          color: $color-5;
          text-decoration: none;
          cursor: auto;
          font-family: sans-serif;
      
        }
      }
    }
    
  }

  
  
  
}

